@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --destaque-azul: #2f8aa5;
  --destaque-amarelo: #f3dd16;
  --cor-azul-escuro: #1b4f5f;
  --cor-texto: #ffffff;
  --font-fredoka: "Fredoka", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  width: 100%;
  padding: 100px 15px;
  background-color: var(--destaque-azul);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: var(--cor-texto);
  padding: 60px 30px;
  border-radius: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-mascote {
  width: 70px;
  height: 70px;
}

.container-mascote img {
  width: 100%;
  border-radius: 100%;
}

.container h1 {
  font-family: var(--font-fredoka);
  font-size: 2.25rem;
  color: var(--destaque-azul);
}

.formulario-cadastro {
  width: 100%;
  padding: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
}

.formulario-cadastro .mensagem-erro {
  font-family: var(--font-inter);
  font-size: 0.875rem;
  font-weight: 700;
  color: red;
  padding-bottom: 5px;
}

.formulario-cadastro label {
  font-family: var(--font-fredoka);
  font-size: 1.25rem;
  color: var(--destaque-azul);
  padding-left: 5px;
  padding-bottom: 5px;
}

.formulario-cadastro input {
  width: 100%;
  padding: 16px 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(135, 135, 135, 0.65);
  border-radius: 12px;
  font-family: var(--font-inter);
  font-size: 1rem;
}

.formulario-cadastro input:focus {
  outline: 1px solid var(--destaque-azul);
}

.formulario-cadastro button {
  margin-top: 30px;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background-color: var(--destaque-amarelo);
  color: var(--cor-azul-escuro);
  font-family: var(--font-inter);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formulario-cadastro button:hover {
  background-color: #e4cf0d;
}

.texto-login {
  font-family: var(--font-inter);
  font-size: 0.875rem;
  font-weight: 400;
  color: #686868;
}

.texto-login a {
  font-weight: 600;
  color: #686868;
  text-decoration: none;
  transition: all 0.3s ease;
}

.texto-login a:hover {
  color: #3b3b3b;
}

/* tela de cadastro realizado com sucesso */
.cadastro-realizado-bg {
  width: 100%;
  height: calc(100% + 319px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-realizado-conteudo {
  width: 100%;
  max-width: 300px;
  min-height: 150px;
  background-color: var(--cor-texto);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-realizado-conteudo p {
  font-family: var(--font-fredoka);
  font-size: 1.125rem;
  color: var(--destaque-azul);
}

.hidden {
  display: none;
}